.hero_section {
  width: 100%;
  margin-top: 149px;
  /* background-color: grey; */
  background-image: url(".././Images//hd-1.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.image {
  width: 95%;
  /* object-fit: fill; */
  position: relative;
  top: 10px;
  left: 2px;
}

.slider {
  overflow: hidden;
}

@media screen and (width <= 599px) {
  .hero_section {
    margin-top: 65px;
    padding-bottom: 170px;
  }
}
