@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.Parallax_link:empty {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #03bfcb;
}

.Parallax_link:empty:before {
  width: 70px;
  height: 70px;
  margin-left: -40px;
  background-color: #fff;
}

.paralax_text {
  position: relative;
  z-index: 9;
}

.paralax_text:before {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  bottom: 4px;
  border-radius: 3px;
  z-index: -1;
  background-color: #03bfcb;
}

.benefit_img {
  width: 100%;
}

/* TEAM */


.team_image {
  width: 96%;
  transition: all 0.5s;
}

.team_contain:hover .team_image {
  transform: scale(1.1);
  object-fit: contain;
}



.cnt-box-team:hover .caption {
  position: absolute;
  text-align: center;
  height: 236px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  z-index: 9;
  right: 0;
  left: 0;
}


@media screen and (width <= 991px) {
  .team_contain {
    width: 100%;
    margin-top: 50px;
  }



}
