.header_image {
  width: 21.9%;
  /* background-color: red; */
}

.header_nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  color: rgb(0, 71, 103);
}

.header_nav_active {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 81%;
  color: #03bfcb;
}

@media screen and (width <= 991px) {
  .header_image {
    width: 183.5px;
    height: 60%;
  }
}
